body {
	font-family: 'Alegreya', serif;
	background: url('img/t1.jpg') no-repeat fixed center;
	background-size:cover;

	text-align:  center;
	margin: 0;
	width: 100%;
}

h1 {
	margin: 0;
	padding-bottom: 10px;
	position: relative;

}

/*********************** menu ***********************/
nav {
	font-family: 'Tillana', cursive;
	font-size: 30px;
	letter-spacing: 10px;
}

nav li a {
	display: inline-block;
	text-decoration: none;
	font-variant: small-caps;
	font-weight: bolder;
	padding: 10px;
	color: white;
/*	border-radius: 30px;*/
}

nav > ul {
    list-style-type: none;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {display: inline;}
nav li a:hover {background-color: rgba(255, 167, 255, 0.3); }
nav li a:active {background-color: rgba(255, 167, 255, 0.2);}

/*********************** home ***********************/

.fly-in-text {
    list-style: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.fly-in-text li {
    display: inline-block;
    margin-right: 50px;
    font-family: "Alegreya";
    font-weight: 300;
    font-size: 3em;
    color: #fff;
    opacity: 1;
    transition: all 2.5s ease;
}
.fly-in-text li:last-child {
    margin-right: 0;
}
.fly-in-text.hidden li {
    opacity: 0;
}
.fly-in-text.hidden li:nth-child(1) { transform: translateX(-200px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(2) { transform: translateX(20px) translateY(100px); }
.fly-in-text.hidden li:nth-child(3) { transform: translateX(-150px) translateY(-80px); }
.fly-in-text.hidden li:nth-child(4) { transform: translateX(10px) translateY(-200px); }
.fly-in-text.hidden li:nth-child(5) { transform: translateX(-300px) translateY(200px); }
.fly-in-text.hidden li:nth-child(6) { transform: translateX(20px) translateY(-20px); }
.fly-in-text.hidden li:nth-child(7) { transform: translateX(30px) translateY(200px); }

/*********************** future projects ***********************/

/*.project {
	border: 5px solid;
	border-radius: 20px;
	margin: 20px 5px;
	height: 200px;
}*/

.project:nth-child(even) {
    clear: both;
}

.project {
    border-radius: 20px;
	margin: 20px 15px;
    background-color: rgba(255, 255, 255, 0.5);
}
.project:hover {
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.8);
}
.project p {
	font-variant: small-caps;
	letter-spacing: 7px;
	font-weight: bolder;
	font-size: 20px;
	padding: 20px;
}

.projectGallery {
	display: none;
}

/***********************about***********************/
h3 p {
	background-color: rgba(255, 167, 255, 0.7);
	padding: 15px;
	border-radius: 20px;
}

.slideShow > li {
    display:none;
    list-style-type: none;   
}

/***********************kontakt***********************/
/*dane kontaktowe*/
address, textarea {	
	font-family: 'Courgette', cursive;
	line-height: 1.7;
	padding-top: 5px;
}
address p {
	background-color: rgba(255, 167, 255, 0.7);
	padding: 15px;
	border-radius: 20px;
	display: inline-block;

	position: relative;
	animation-name: animAddress;
	animation-duration: 3s;
    animation-iteration-count: infinite;
}

/* The animation code */
@keyframes animAddress {
	0%  {border-radius: 20px;}
    50%  {border-radius: 100px;}
    100%  {border-radius: 20px;}

}

/*formularz*/

input, textarea {
	border: 5px solid rgba(255, 167, 255, 1);
	border-radius: 20px;
}

button, input, textarea {
	padding: 10px;
	margin-top: 5px;
}

button, input {
	font-family: 'Tillana', cursive;
	font-size: 20px;
}

button {
	/*width: 15%;*/
	background-color: #FF9DFF;
	border-radius: 70px 70px 70px 70px;
	-moz-border-radius: 70px 70px 70px 70px;
	-webkit-border-radius: 70px 70px 70px 70px;
	border: 5px solid #FD91FD;

    /*padding: 15px;*/
    color: white;
    text-decoration: none;
    cursor: pointer;
    
	transition: all .2s ease-in-out;
}

button:hover {transform: scale(1.2);}
button:active {background-color: #FF99FF;}

/*ikonki social media*/ 

#social > a {text-decoration: none;}
#social > a:hover {opacity: 0.7;}

footer {
	margin-top: 15px;
	padding: 5px;
	clear: both;
	bottom:0;
}

/* The animation code */
@keyframes movingText {
	0%  {top:-10px;}
    50%  {top:10px;}
    100%  {top:-10px;}
}

h1 {
	animation-name: movingText;
	animation-duration: 3s;
    animation-iteration-count: infinite;
}
	

/********************** RWD #1 ***************************/

@media screen and (max-width: 600px){

	h3 img {width: 95%;	}
	h1 {font-size: 50px;}
	h3 {font-size: 35px;}
	address, textarea {font-size: 20px;}
	button, input, textarea {width: 85%;}
	#msg {height: 150px;}

}

/********************** RWD #1 & #2 ***************************/
@media screen and (max-width: 900px){
	#home { background-color: rgba(255, 157, 255, 0.7);	}
	#homeImg{
		width: 95%;
		margin-top: 20px;
		border-radius: 30px;
	}
	h3 img {border-radius: 30px;}
	nav li a {
		width: 100%;
	    float: none;
		background-color: rgba(255, 167, 255, 0.5);
	}
}

/********************** RWD #2 ***************************/
@media screen and (min-width: 601px) and (max-width: 900px) {
	
	h3 img {width: 80%; }
	h1 {font-size: 40px;}
	h3 {font-size: 25px;}
	address, textarea {font-size: 25px;}
	button, input, textarea {width: 80%;}
	#msg {height: 200px;}

	#part01, #part02, #part03, #part04 {
		margin-right: 30px;
		margin-left: 30px;
	}

	#part02 img, #part03 img {
		width: 40%;
	/*float: left;*/
		margin-bottom: 20px;
		border-radius: 10px;
	}
}
/********************** RWD #3 ***************************/
@media screen and (min-width : 901px) and (max-width : 1224px) {

	#part01, #part02, #part03, #part04 {
		margin-right: 30px;
		margin-left: 30px;
	}
	button, input, textarea {width: 80%;}
}

/********************** RWD #3 & #4 ***************************/
@media screen and (min-width : 901px) {

	nav ul {background-color: rgba(255, 157, 255, 0.6);	}

	#homeImg{
		margin-top: 20px;
		width: 60%;
		border-radius: 30px;
	}

	h1 {font-size: 50px;}
	h3 {font-size: 30px;}

	#part02 img, #part03 img {
		width: 40%;
		/*float: left;*/
		margin-bottom: 20px;
		border-radius: 10px;
	}

	h3 img {
		width: 80%;
		border-radius: 30px;
	}
	address, textarea {	font-size: 25px;}
	#msg {height: 200px;}
}

/********************** RWD #4 ***************************/
@media screen and (min-width : 1224px) {

	#part01, #part02, #part03, #part04 {
		margin-right: 20%;
		margin-left: 20%;
	}
	button, input, textarea {width: 50%;}
}