body {
	font-family: 'Alegreya', serif;
	background-color: #FFC0FF;
	text-align:  center;
	margin: 0;
	width: 100%;
}
nav {
	font-family: 'Tillana', cursive;
	font-size: 30px;
	letter-spacing: 5px;
	margin-bottom: 10px;
}

ul {
    list-style-type: none;
    position: relative;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {display: inline;}
li a {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    font-variant: small-caps;
    color: white;
    border-radius: 30px;
}
li a:hover {background-color: #ffa7ff;}
li a:active {background-color: #ff8dff;}

/***********************projekty***********************/
.project {
	border:5px solid;
	border-radius: 20px;
	margin: 20px 5px;
	height: 200px;
}
/***********************about***********************/

#aboutMenu > div, #aboutMenu > img {
	width: 50%;
	float: left;
    margin: 0 auto;
}
#aboutMenu > img {
	border-radius: 30px;
}
.aboutMe {   
	min-height: 50px;
	display: block;

	border-radius: 100px 100px;
	margin-top: 10px;
    padding: 25px;

    background-color: rgba(255, 255, 255, 0.3);

	-webkit-box-shadow: inset 0px 0px 53px 10px rgba(255,141,255,1);
	-moz-box-shadow: inset 0px 0px 53px 10px rgba(255,141,255,1);
	box-shadow: inset 0px 0px 53px 10px rgba(255,141,255,1);
}
.aboutMe > h1 {
	color: #cc0099;
    font-weight: bold;
	font-family: 'Amatic SC', cursive;
    font-size: 25px;
    letter-spacing: 2px;
}

/***********************kontakt***********************/
/*dane kontaktowe*/
address {
	font-family: 'Courgette', cursive;
	font-size: 25px;
	line-height: 1.7;
	padding-top: 5px;
}

/*formularz*/
input {
	margin: 2%;
	border: 5px solid #FF66FF;
	border-radius: 20px;
	padding: 10px;
}
#name {
	width: 50%;
}
#name, #msg {
	margin-bottom: 1px;
}
#msg {
	width: 70%;
	height: 100px;
}
button, input {
	font-family: 'Tillana', cursive;
	font-size: 20px;
}
button {
	width: 15%;
	background-color: #FF66FF;
	border-radius: 70px 70px 70px 70px;
	-moz-border-radius: 70px 70px 70px 70px;
	-webkit-border-radius: 70px 70px 70px 70px;
	border: 5px solid #FF33FF;

    padding: 15px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    
	transition: all .2s ease-in-out;
}
button:hover {transform: scale(1.2);}
button:active {background-color: #FF99FF;}

/*ikonki social media*/

#social > a {
	text-decoration: none;
}
#social > a:hover {opacity: 0.7;}

footer {
	margin-top: 15px;
	padding: 5px;
	clear: both;
	bottom:0;
}
